.heading{
	text-align: center;
}


.container{
	width: 880px;
	margin: 0 auto;
	background: yellow;
	height: 680px;
	padding-bottom: 10px;
}

.card{
	
	float: left;
	margin: 10px;
	height: 150px;
	width: 200px;
	background: blue;
	text-align: center;
	cursor: pointer;
	font-size: 1.0em;
}
