.heading{
	text-align: center;
}



.container{
	width: 880px;
	margin: 0 auto;
	background: yellow;
	height: 680px;
	padding-bottom: 10px;
	position: relative;

}

.card{
	float: left;
	margin: 10px;
	height: 150px;
	width: 200px;
	background: blue;
	text-align: center;
	cursor: pointer;
	font-size: 3.0em;
}

.card div {
    line-height: 120px;
    color: white;
    text-align: center;
    font-weight: bold;
   
}
.card .front {
  background color: blue;
}
.card .back {
    background: ;
    transform: rotateY( 180deg );
    
.card.flipped {
        transform: rotateY( 180deg );
}
